body {
	background-color: #e6e6e6;
	margin: 0;
	padding: 0;
	min-width: 400px;
}

div {
	box-sizing: border-box;
}

.align-container {
	margin-top: 100px;
}

.round {
	border-radius: 50%;
}

.wrapper {
	text-align: center;
}

.eye-container:last-child,
.cheek-container:last-child {
	margin-right: 0;
}

/* Eyes */

.eye-container {
	display: inline-block;
	position: relative;
	margin-right: 75px;
}

.eye-component-1 {
	width: 90px;
	height: 90px;
	background-color: #fd0002;
	border: 1px solid #faffff;
}

.eye-component-2 {
	width: 64px;
	height: 64px;
	background-color: #e6e6e6;
	border: 1px solid #faffff;
	position: absolute;
	top: 13px;
	left: 13px;
}

.eye-component-3 {
	width: 28px;
	height: 28px;
	background-color: #000;
	border: 1px solid #faffff;
	position: absolute;
	top: 31px;
	left: 31px;

	-webkit-animation: scale 0.5s ease-in-out 1s infinite alternate;
			animation: scale 0.5s ease-in-out 1s infinite alternate;
}

/* Cheek */

.cheek-container {
	display: inline-block;
	position: relative;
	margin-right: 260px;
}

.cheek-component-1 {
	width: 59px;
	height: 59px;
	background-color: #fd0002;
	border: 1px solid #faffff;
}

.cheek-component-2 {
	width: 47px;
	height: 47px;
	background-color: #e6e6e6;
	border: 1px solid #faffff;
	position: absolute;
	top: 6px;
	left: 6px;
}

.cheek-component-3 {
	width: 31px;
	height: 31px;
	background-color: #fd0002;
	border: 1px solid #faffff;
	position: absolute;
	top: 14px;
	left: 14px;
}

.cheek-component-4 {
	width: 21px;
	height: 21px;
	background-color: #e6e6e6;
	border: 1px solid #faffff;
	position: absolute;
	top: 19px;
	left: 19px;
}

/* Mouth */

.mouth-container {
	margin-top: 45px;
	display: inline-block;
	position: relative;
}

.lip {
	width: 140px;
	height: 20px;
	background-color: #fd0002;
	border: 1px solid #faffff;

	-webkit-animation: height 0.4s ease-in-out 0.3s 34 alternate;
			animation: height 0.4s ease-in-out 0.3s 34 alternate;
}

.jaws {
	width: 185px;
	height: 175px;
	border: 5px solid #010101;
	border-bottom: none;
	position: absolute;
	top: 8px;
	left: -20px;
}

/* Animations */

@-webkit-keyframes scale {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.5);
	}
}

@keyframes scale {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.5);
	}
}

@-webkit-keyframes height {
	from {
		height: 20px;
	}
	to {
		height: 50px;
	}
}

@keyframes height {
	from {
		height: 20px;
	}
	to {
		height: 50px;
	}
}